.classpath
.project
/.ijwb/
/eclipse-plugins-sources/
/eclipse-plugins/
.metals/
*.jar
.vscode/
plugins/cody-chat/resources/node-binaries/
plugins/cody-chat/resources/dist
build.scala
.bsp/
.scala-build/
.idea/
eclipse-plugins-directory.txt
/bin/

jars/
/bazel-*
eclipse-platforms/
